flows.json
[{"id":"d76fcbe4.9ff708","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9e131ba6.762428","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6194e0c6.98aec","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Trebuchet MS,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#f0feff","baseFont":"Tahoma,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#f0feff","edited":true},"page-titlebar-backgroundColor":{"value":"#f0feff","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffffff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#f0feff","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"VL2_G16","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":10,"cx":20,"cy":20,"px":20,"py":30}}},{"id":"31568d9f.e5da42","type":"ui_spacer","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"83fee945.6c4318","type":"ui_spacer","name":"spacer","group":"","order":4,"width":8,"height":1},{"id":"f77f832e.55642","type":"mqtt-broker","name":"VL2_GROUP16","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"connected","birthQos":"0","birthPayload":"Hello world","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"31419721.cd0c68","type":"ui_group","name":"Scores","tab":"c21ef426.dc7658","order":1,"disp":false,"width":"4","collapse":false},{"id":"c21ef426.dc7658","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6cf8888f.96a008","type":"ui_group","name":"Humidity","tab":"c21ef426.dc7658","order":3,"disp":false,"width":"2","collapse":false},{"id":"5c856b96.b5def4","type":"ui_group","name":"CO2","tab":"c21ef426.dc7658","order":4,"disp":false,"width":"2","collapse":false},{"id":"e6b35e2b.bebb9","type":"ui_group","name":"Dust","tab":"c21ef426.dc7658","order":5,"disp":false,"width":"2","collapse":false},{"id":"7b1ebd48.38e884","type":"ui_group","name":"Temp","tab":"c21ef426.dc7658","order":2,"disp":false,"width":"2","collapse":false},{"id":"b8e6d433.c61658","type":"ui_group","name":"Light","tab":"c21ef426.dc7658","order":6,"disp":false,"width":"4","collapse":false},{"id":"c3059be0.c32a98","type":"ui_tab","name":"Chart","icon":"fa-line-chart","disabled":false,"hidden":false},{"id":"e1c4bf19.65735","type":"ui_group","name":"Humidity","tab":"c3059be0.c32a98","order":1,"disp":true,"width":"4","collapse":false},{"id":"1de9798c.a6c1d6","type":"ui_group","name":"Temperature","tab":"c3059be0.c32a98","order":2,"disp":true,"width":"4","collapse":false},{"id":"a8c8e93b.b2bd08","type":"ui_group","name":"Chemicals","tab":"c3059be0.c32a98","order":3,"disp":true,"width":"4","collapse":false},{"id":"e66aa3e1.1f766","type":"ui_group","name":"PM2.5","tab":"c3059be0.c32a98","order":4,"disp":true,"width":"4","collapse":false},{"id":"a0c9178c.7b6808","type":"telegrambot-config","botname":"iot_group_16_bot","usernames":"nguyendonghuynhlang","chatIds":"1439212069","pollInterval":"300"},{"id":"eb201a1c.480cf8","type":"ui_tab","name":"Setting","icon":"fa-cogs","disabled":false,"hidden":false},{"id":"5d2b04be.8ba95c","type":"ui_group","name":"Thresholds","tab":"eb201a1c.480cf8","order":1,"disp":false,"width":"12","collapse":false},{"id":"1de9a93b.9ea807","type":"telegram bot","botname":"iot_group_16_bot","usernames":"iot_group_16_bot","chatids":"1439212069","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"d1faf18c.c77bb","type":"ui_group","z":"9e131ba6.762428","name":"Click","tab":"2eff71c6.a99f1e","order":1,"disp":true,"width":"5"},{"id":"2eff71c6.a99f1e","type":"ui_tab","z":"9e131ba6.762428","name":"Home","icon":"link","order":1},{"id":"ff595e2.d0deaa","type":"mqtt in","z":"d76fcbe4.9ff708","name":"","topic":"136_118_269/OUT","qos":"2","datatype":"auto","broker":"f77f832e.55642","x":170,"y":660,"wires":[["ce5a4bde.d324a8","ee9cfa4b.a7ffd8","8280d300.eb777"]]},{"id":"ce5a4bde.d324a8","type":"function","z":"d76fcbe4.9ff708","name":"","func":"let [h, t, chem, dust] = msg.payload.split(\"|\");\nflow.set(\"data\",{h: parseFloat(h).toFixed(1), t:  parseFloat(t).toFixed(1), chem: parseFloat(chem).toFixed(1), dust: parseFloat(dust).toFixed(1)});\nreturn [\n    {payload: parseFloat(h).toFixed(1)}, \n    {payload: parseFloat(t).toFixed(1)}, \n    {payload: parseFloat(chem).toFixed(1)}, \n    {payload: parseFloat(dust).toFixed(1)}\n    ];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":380,"y":660,"wires":[["a8797c87.f343e"],["a0a3639c.00c7d"],["28610a42.4dc126"],["8ec7840c.7c8be8"]]},{"id":"de34943f.582128","type":"ui_template","z":"d76fcbe4.9ff708","group":"6cf8888f.96a008","name":"","order":2,"width":"2","height":"4","format":"<div class=\"container selectable\" data-state=\"humidity\">\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[0]}}\" ></span>\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[1]}}\"></span>\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[2]}}\"></span>\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[3]}}\" ></span>  \n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[4]}}\" ></span>  \n  <p class=\"label\">Humidity</p>\n  <p class=\"unit\">%</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":440,"wires":[[]]},{"id":"410aa8a3.87f3d8","type":"function","z":"d76fcbe4.9ff708","name":"Humidity Handler","func":"const range = [0, ...global.get(\"humidity\")];\nconst color = global.get(\"color\");\n\nlet value = msg.payload; \n\nlet newPayload = { color: [] };\nfor (let i = range.length - 1; i >= 0; i--){\n    if (value > range[i]) \n        newPayload.color.push(color[i]);\n    else newPayload.color.push(\"var(--dot-color)\");\n}\n \n\nreturn {payload: newPayload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":380,"wires":[["de34943f.582128"]]},{"id":"1f22b701.1a6569","type":"ui_template","z":"d76fcbe4.9ff708","group":"7b1ebd48.38e884","name":"","order":2,"width":"2","height":"4","format":"<div class=\"container selectable\" data-state=\"temp\">\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[0]}}\" ></span>\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[1]}}\"></span>\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[2]}}\"></span>\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[3]}}\" ></span>  \n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[4]}}\" ></span>  \n  <p class=\"label\">Temp</p>\n  <p class=\"unit\">°C/°F </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":600,"wires":[[]]},{"id":"fa09b148.48fa4","type":"function","z":"d76fcbe4.9ff708","name":"Temperature Handler","func":"const range = [0, ...global.get(\"temp\")];\nconst color = global.get(\"color\");\n\nlet value = msg.payload;\nlet newPayload = { color: [] };\nfor (let i = range.length - 1; i >= 0; i--){\n    if (value > range[i]) newPayload.color.push(color[i]);\n    else newPayload.color.push(\"var(--dot-color)\");\n}\n\nreturn {payload: newPayload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":580,"wires":[["1f22b701.1a6569"]]},{"id":"1db3bff2.13e26","type":"ui_template","z":"d76fcbe4.9ff708","group":"5c856b96.b5def4","name":"","order":2,"width":"2","height":"4","format":"<div class=\"container selectable\" data-state=\"chemical\">\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[0]}}\" ></span>\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[1]}}\"></span>\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[2]}}\"></span>\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[3]}}\" ></span>  \n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[4]}}\" ></span>  \n  <p class=\"label\">Chemicals</p>\n  <p class=\"unit\">ppm</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":960,"y":700,"wires":[[]]},{"id":"b8a898be.6d2318","type":"function","z":"d76fcbe4.9ff708","name":"Chemicals Handler","func":"const range = [0, ...global.get(\"chemical\")];\nconst color = global.get(\"color\");\n\nlet value = msg.payload;\nlet newPayload = { color: [] };\nfor (let i = range.length - 1; i >= 0; i--){\n    if (value > range[i]) newPayload.color.push(color[i]);\n    else newPayload.color.push(\"var(--dot-color)\");\n}\n\nreturn {payload: newPayload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":700,"wires":[["1db3bff2.13e26"]]},{"id":"28c49e0d.d33bc2","type":"ui_template","z":"d76fcbe4.9ff708","group":"e6b35e2b.bebb9","name":"","order":2,"width":"2","height":"4","format":"<div class=\"container selectable\" data-state=\"dust\">\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[0]}}\" ></span>\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[1]}}\"></span>\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[2]}}\"></span>\n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[3]}}\" ></span>  \n  <span class=\"dot\" style=\"background-color: {{msg.payload.color[4]}}\" ></span>  \n  <p class=\"label\">PM2.5</p>\n  <p class=\"unit\">µg/m³</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":840,"wires":[[]]},{"id":"e1a3f4f2.e1a8c8","type":"function","z":"d76fcbe4.9ff708","name":"Dust Handler","func":"const range = [0, ...global.get(\"pm\")];\nconst color = global.get(\"color\");\n\nlet value = msg.payload;\nlet newPayload = { color: [] };\nfor (let i = range.length - 1; i >= 0; i--){\n    if (value > range[i]) newPayload.color.push(color[i]);\n    else newPayload.color.push(\"var(--dot-color)\");\n}\n\nreturn {payload: newPayload};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":840,"wires":[["28c49e0d.d33bc2"]]},{"id":"2ebe4bd0.83cd24","type":"ui_template","z":"d76fcbe4.9ff708","group":"31419721.cd0c68","name":"Overall","order":2,"width":"4","height":"4","format":"<svg id=\"myGauge\" viewbox=\"0 0 100 100\" class=\"selectable\" data-state=\"overal\">\n  <circle cx=\"50\" cy=\"50\" r=\"45\"/>\n  <path stroke-linecap=\"round\" stroke-width=\"5\" stroke=\"#fff\"\n        stroke-dasharray=\"251.2, 0\"\n        d=\"M50 10\n           a 40 40 0 0 1 0 80\n           a 40 40 0 0 1 0 -80\"/>\n  <text x=\"50\" y=\"50\" text-anchor=\"middle\" dy=\"7\" font-size=\"10\" fill=\"white\"></text>\n  <!--<text x=\"50\" y=\"50\" text-anchor=\"middle\" dy=\"20\" font-size=\"10\" fill=\"white\">Good</text>-->\n</svg>\n\n<script>\n(function(scope) {\n    // $watch fires each time the node is triggered in the flow\n    scope.$watch('msg', function(msg) {\n        if (msg.payload) {\n            var gauge = document.querySelector(\"#myGauge circle\");\n            gauge.style.fill = msg.payload.color;\n            var text = document.querySelector(\"#myGauge text\");\n            text.innerHTML = msg.payload.evaluate;\n            var path = document.querySelector(\"#myGauge path\").setAttribute(\"stroke-dasharray\", msg.payload.stroke);\n\n        }\n    });\n \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":400,"wires":[[]]},{"id":"c50a9c14.697eb","type":"ui_template","z":"d76fcbe4.9ff708","group":"31419721.cd0c68","name":"Styles / Global funcs","order":3,"width":0,"height":0,"format":"<style> \n    @import url('https://fonts.googleapis.com/css2?family=Lato&family=Poiret+One&display=swap');\n    \n    :root{\n        --dot-color: rgba(255,255,255,0.2);\n    }\n    \n    .dot {\n      height: 20px;\n      width: 20px;\n      background-color: #eee;\n      border-radius: 50%;\n      display: inline-block;\n      margin: 7px 0;\n    }\n    \n    .container {\n      display: flex;\n      flex-direction: column;\n      justify-content: center;\n      align-items: center; \n      text-align: center;\n    }\n    \n    .container p.label{\n      font-size: 1.4rem;\n      margin: 10px 0;\n      color: white !important;\n      font-family: 'Lato', sans-serif;\n      font-weight: 400;\n      background-color: transparent !important;\n    }\n    \n    .container p.unit{ \n      font-size: 1.2rem;\n      margin:  0;\n      color: #ddd !important;\n      font-family: 'Poiret One', cursive;\n      background-color: transparent !important;\n    }\n    \n    #myGauge path{\n         fill: none !important;\n    }\n    \n    #myGauge text{\n        font-family: 'Open Sans', sans-serif;\n        background-color: transparent !important;\n    }\n    \n    \n    .nr-dashboard-text p.value {\n        font-size: 30px;\n        color: white ;\n        font-family: 'Poiret One', cursive;\n    }\n    \n    .mybtn {\n        border-radius: 10px;\n        padding: 10px 20px;\n        background: rgba(255,255,255, 0.2);\n        color: white;\n        margin: 10px;\n        min-width: 60px;\n        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);\n        outline: none;\n        border: 0;\n    }\n    \n    .mybtn:hover {\n        background: #1597bb;\n    }\n</style>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":380,"y":280,"wires":[[]]},{"id":"a8797c87.f343e","type":"function","z":"d76fcbe4.9ff708","name":"Humidity","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":540,"wires":[["410aa8a3.87f3d8","9e2b1a71.7d6378","f3029c25.f427b"]]},{"id":"a0a3639c.00c7d","type":"function","z":"d76fcbe4.9ff708","name":"Temperature","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":620,"wires":[["fa09b148.48fa4","430190a8.970b8","3aa048b1.958678"]]},{"id":"28610a42.4dc126","type":"function","z":"d76fcbe4.9ff708","name":"chemicals","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":700,"wires":[["b8a898be.6d2318","734e035d.56800c","184ceda4.c46ee2"]]},{"id":"8ec7840c.7c8be8","type":"function","z":"d76fcbe4.9ff708","name":"Dust","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":840,"wires":[["e1a3f4f2.e1a8c8","276d1a2f.1db6b6","e07523e0.f76cd"]]},{"id":"9e2b1a71.7d6378","type":"ui_text","z":"d76fcbe4.9ff708","group":"6cf8888f.96a008","order":1,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":760,"y":440,"wires":[]},{"id":"430190a8.970b8","type":"ui_text","z":"d76fcbe4.9ff708","group":"7b1ebd48.38e884","order":1,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":730,"y":620,"wires":[]},{"id":"734e035d.56800c","type":"ui_text","z":"d76fcbe4.9ff708","group":"5c856b96.b5def4","order":1,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":710,"y":740,"wires":[]},{"id":"276d1a2f.1db6b6","type":"ui_text","z":"d76fcbe4.9ff708","group":"e6b35e2b.bebb9","order":1,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":710,"y":880,"wires":[]},{"id":"6a9efc7e.10ff24","type":"ui_text","z":"d76fcbe4.9ff708","group":"31419721.cd0c68","order":1,"width":"2","height":"1","name":"","label":"","format":"Overall","layout":"row-center","x":530,"y":360,"wires":[]},{"id":"a1c92dd8.d411a","type":"ui_template","z":"d76fcbe4.9ff708","group":"","name":"Node-Red Dashboard Custom CSS","order":1,"width":0,"height":0,"format":"<style>\nroot, a, button, p, div {\n    -webkit-user-select: none !important;\n}\n\nbody {\n    background: -webkit-linear-gradient(\n    55deg,\n    #009785 0%,\n    #245aa5 50%,\n    #b800e9 100%\n    );\n    -webkit-touch-callout: none !important;\n}\n\nbody.nr-dashboard-theme md-toolbar,\nbody.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n    color: #FFFFFF;\n}\n\nui-card-panel {\n    background-color: rgba(255,255,255,0.1) !important;\n    border-radius: 10px !important;\n}\n\n\nbody.nr-dashboard-theme md-toolbar .md-toolbar-tools{\n    filter: none;\n}\nmd-backdrop.md-opaque{\n    opacity: 0.8 !important;\n}\n\n \n#Homey_Dashboard_Navigation {\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n.md-sidenav-left{\n    background-color: rgba(255,255,255,.2) !important;\n    color: white;\n}\n\n.md-card.md-default-theme, md-card {\n    border-radius: 10px;\n}\n\n.nr-dashboard-switch.ng-scope {\n    background-color: rgba(255,255,255,.2) !important;\n}\n\n.nr-dashboard-switch.ng-scope:hover {\n    background-color: rgba(255,255,255,.5) !important;\n}\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: rgba(255,255,255,.2);\n}\n\n.md-button {\n    border-radius: 10px;\n}\n\n.nr-dashboard-cardpanel layout-column {\n    background-color: rgba(255,255,255,0.2) !important;\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n.nr-dashboard-theme ui-card-panel {\n    border: none;\n}\n\n.nr-dashboard-template {\n    overflow-y: visible;\n}\n.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: rgba(255, 255, 255, 0.5);\n}\n</style>\n\n<script>\ndocument.ontouchmove = function (e) {\n    e.preventDefault();\n}\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":420,"y":240,"wires":[[]]},{"id":"ee9cfa4b.a7ffd8","type":"function","z":"d76fcbe4.9ff708","name":"Check conditions & save state","func":"let [h, t, chem, dust] = msg.payload.split(\"|\");\nlet [hAlert, tAlert, chemAlert, dustAlert] = global.get(\"alert\");\nlet hRange = [0, ...global.get(\"humidity\")];\nlet tRange = [0, ...global.get(\"temp\")];\nlet chemRange = [0, ...global.get(\"chemical\")];\nlet dustRange = [0, ...global.get(\"pm\")];\n\nlet color = global.get(\"color\");\nconst evaluations = [\"😄 Good\", \"🙂 Satisfactory\", \"😐 Moderate\", \"🙁 Harmful\", \"😷 Very Harmful\"];\n\nlet warnings = {};\nlet payload = {}; \n\nif (h >= hAlert) {\n    warnings.h = h;\n}\nif (t >= tAlert) {\n    warnings.t = t;\n}\nif (chem >= chemAlert) {\n    warnings.chem = chem;\n}\nif (dust >= dustAlert) {\n    warnings.dust = dust;\n}\n\nfor (let i = 4; i >= 0; i--){  \n    if ( h > hRange[i] || t > tRange[i] || chem > chemRange[i] || dust > dustRange[i]){\n        payload.evaluate = evaluations[i];\n        payload.color = color[i];\n        payload.stroke = `${251.2 - 50.24 * i},${50.24 * i}`\n        break;\n    }\n}\n\nfunction hexToRgb(c){\n    if(/^#([a-f0-9]{3}){1,2}$/.test(c)){\n        if(c.length== 4){\n            c= '#'+[c[1], c[1], c[2], c[2], c[3], c[3]].join('');\n        }\n        c= '0x'+c.substring(1);\n        return [(c>>16)&255, (c>>8)&255, c&255].join(',');\n    }\n    return '';\n}\n\nlet state;\nlet rgbState = hexToRgb(payload.color);\nif (global.get(\"led\") === rgbState){\n    state = {payload: rgbState};\n}\nelse {\n    global.set(\"led\", hexToRgb(payload.color));\n    state = {payload: rgbState};\n}\n\nif (warnings && Object.keys(warnings).length === 0 && warnings.constructor === Object) {\n    //global.set(\"isAlerting\", false);\n    return [{payload: payload}, state, null]; \n}\nreturn [{payload: payload}, state, {payload: {...warnings}}];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":460,"wires":[["2ebe4bd0.83cd24","6a9efc7e.10ff24"],["5646945a.4208ec","d7780b46.8f1708"],["fe797824.273988"]]},{"id":"3fa38ce2.ad5634","type":"file in","z":"d76fcbe4.9ff708","name":"","filename":"./Config.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":120,"wires":[["1f13be6b.c98aa2"]]},{"id":"6ac53b0.1feecc4","type":"inject","z":"d76fcbe4.9ff708","name":"Init file","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":60,"wires":[["1f71e2ab.704bdd"]]},{"id":"4c9a4aeb.de77f4","type":"file","z":"d76fcbe4.9ff708","name":"Init value","filename":"./Config.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":640,"y":60,"wires":[[]]},{"id":"1f71e2ab.704bdd","type":"function","z":"d76fcbe4.9ff708","name":"","func":"\nreturn {\n    payload: \"temp-20,40,60,80\" +\n        \"\\nhumidity-50,70,80,90\"+\n        \"\\nchemical-200,400,600,800\"+\n        \"\\npm-200,400,600,800\" +\n        \"\\ncolor-#9ede73,#f7ea00,#fdca40,#fb3640,#810000\" + \n        \"\\nalert-90,40,500,500\" +\n        \"\\nenableAlert-1\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":60,"wires":[["4c9a4aeb.de77f4"]]},{"id":"351606ce.c5f8ea","type":"inject","z":"d76fcbe4.9ff708","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":".6","topic":"","payload":"","payloadType":"date","x":350,"y":160,"wires":[["3fa38ce2.ad5634","bf6eac18.7ded3"]]},{"id":"1f13be6b.c98aa2","type":"split","z":"d76fcbe4.9ff708","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":120,"wires":[["7b2f3aa2.d9fec4"]]},{"id":"7b2f3aa2.d9fec4","type":"function","z":"d76fcbe4.9ff708","name":"Set Global","func":"let [label, value] = msg.payload.split(\"-\");\nif (value.includes(\",\")){\n    let arr = [...value.split(\",\").map(v => isNaN(v) ? v : parseInt(v))];\n    global.set(label, arr);\n}\nelse {\n    global.set(label, isNaN(value) ? value : parseInt(value));\n}","outputs":0,"noerr":0,"initialize":"","finalize":"","x":830,"y":120,"wires":[]},{"id":"b616fba4.9e83d8","type":"ui_template","z":"d76fcbe4.9ff708","group":"31419721.cd0c68","name":"Modal","order":3,"width":0,"height":0,"format":"<style>\nbody {font-family: Arial, Helvetica, sans-serif;}\n\n/* The Modal (background) */\n.modal {\n    display: none; /* Hidden by default */\n    position: fixed; /* Stay in place */\n    opacity:0.99;\n    z-index: 100; /* Sit on top */\n    padding-top: 100px; /* Location of the box */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color: rgb(0,0,0); /* Fallback color */\n    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n}\n\n/* Modal Content */\n.modal-content {\n    position: relative;\n    background-color: #fefefe;\n    margin: auto;\n    padding: 0;\n    border: 1px solid #888;\n    width: 50%;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animatetop;\n    -webkit-animation-duration: 0.4s;\n    animation-name: animatetop;\n    animation-duration: 0.4s\n}\n\n/* Add Animation */\n@-webkit-keyframes animatetop {\n    from {top:-300px; opacity:0} \n    to {top:0; opacity:1}\n}\n\n@keyframes animatetop {\n    from {top:-300px; opacity:0}\n    to {top:0; opacity:1}\n}\n\n/* The Close Button */\n.close {\n    color: black !important;\n    float: right;\n    font-size: 28px;\n    font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n    color: #000;\n    text-decoration: none;\n    cursor: pointer;\n}\n\n.modal-header {\n    padding: 2px 16px; \n    color: white;\n}\n\n.modal-body {padding: 2px 16px;}\n\n.modal-footer {\n    padding: 2px 16px; \n    color: white;\n    display: flex;\n    flex-direction: row;\n    justify-content: flex-end;\n}\n\n#title, #msg {\n    background: transparent !important;\n    color: black !important; \n}\n</style> \n\n<!-- The Modal -->\n<div id=\"myModal\" class=\"modal\">\n\n  <!-- Modal content -->\n  <div class=\"modal-content\">\n    <div class=\"modal-header\">\n      <span class=\"close\">&times;</span>\n      <h2 id=\"title\">Header</h2>\n    </div>\n    <div class=\"modal-body\">\n      <p id=\"msg\">Body</p>\n    </div>\n    <div class=\"modal-footer\">\n      <md-button id=\"error-alert\" ng-click=\"send(msg)\">OK</md-button>\n    </div>\n  </div>\n\n</div>\n\n\n<script>\n    // Get the modal\nvar modal = document.getElementById('myModal');\n\nvar okBtn = document.getElementById(\"error-alert\");\nokBtn.onclick = function() {\n    modal.style.display = \"none\";\n}\n\n// Get the <span> element that closes the modal\nvar span = document.getElementsByClassName(\"close\")[0];\n\n// When the user clicks on <span> (x), close the modal\nspan.onclick = function() {\n    modal.style.display = \"none\";\n}\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":330,"y":320,"wires":[[]]},{"id":"703b8f7a.9416","type":"ui_template","z":"d76fcbe4.9ff708","group":"31419721.cd0c68","name":"Thông báo cho web","order":3,"width":0,"height":0,"format":"<script>\n(function(scope) {\n    // $watch fires each time the node is triggered in the flow\n    scope.$watch('msg', function(msg) {\n        if (msg.payload) {\n            var modal = document.getElementById('myModal');\n            modal.style.display = \"block\";\n            \n            document.querySelector(\"#myModal #title\").textContent = msg.payload.title;\n            document.querySelector(\"#myModal #msg\").textContent = msg.payload.msg;\n            \n        }\n    });\n \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":770,"y":1580,"wires":[[]]},{"id":"91caf6b0.3df7f8","type":"ui_text","z":"d76fcbe4.9ff708","group":"b8e6d433.c61658","order":1,"width":0,"height":0,"name":"LIGHT","label":"","format":"Light","layout":"row-left","x":470,"y":1100,"wires":[]},{"id":"f3029c25.f427b","type":"ui_chart","z":"d76fcbe4.9ff708","name":"Humidity Chart","group":"e1c4bf19.65735","order":0,"width":"4","height":"4","label":"Humidity(%)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Loading...","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00fffb","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":830,"y":520,"wires":[[]]},{"id":"3aa048b1.958678","type":"ui_chart","z":"d76fcbe4.9ff708","name":"Temperature Chart","group":"1de9798c.a6c1d6","order":0,"width":"4","height":"4","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Loading...","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff7f0e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":770,"y":660,"wires":[[]]},{"id":"184ceda4.c46ee2","type":"ui_chart","z":"d76fcbe4.9ff708","name":"Chemcials Chart","group":"a8c8e93b.b2bd08","order":0,"width":"4","height":"4","label":"Chemical (ppm)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Loading...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff2a","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":740,"y":780,"wires":[[]]},{"id":"e4467f8d.71515","type":"ui_slider","z":"d76fcbe4.9ff708","name":"","label":"Brightness","tooltip":"Brightness","group":"b8e6d433.c61658","order":2,"width":"4","height":"1","passthru":false,"outs":"end","topic":"payload","min":0,"max":"1","step":"0.1","x":530,"y":1060,"wires":[["53057ba1.b60cf4"]]},{"id":"53fa7160.8d402","type":"mqtt out","z":"d76fcbe4.9ff708","name":"136_118_269/IN/LED","topic":"136_118_269/IN/LED","qos":"","retain":"","broker":"f77f832e.55642","x":1200,"y":1060,"wires":[]},{"id":"73ea4b89.3852d4","type":"function","z":"d76fcbe4.9ff708","name":"Call ESP","func":"let rgbLed = global.get(\"led\") || \"115,76,104\";\nlet brightness = global.get(\"brightness\").toFixed(2); \nreturn {payload: `${rgbLed},${brightness}`};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1060,"wires":[["53fa7160.8d402"]]},{"id":"63f49088.657ff","type":"inject","z":"d76fcbe4.9ff708","name":"init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"1","payloadType":"str","x":350,"y":1060,"wires":[["e4467f8d.71515","91caf6b0.3df7f8"]]},{"id":"e07523e0.f76cd","type":"ui_chart","z":"d76fcbe4.9ff708","name":"PM2.5 Chart","group":"e66aa3e1.1f766","order":0,"width":"4","height":"4","label":"PM2.5 (µg/m³)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Loading...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff2a","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":730,"y":940,"wires":[[]]},{"id":"53057ba1.b60cf4","type":"function","z":"d76fcbe4.9ff708","name":"Update global brightness","func":"global.set(\"brightness\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":1060,"wires":[["73ea4b89.3852d4"]]},{"id":"bf6eac18.7ded3","type":"function","z":"d76fcbe4.9ff708","name":"Init global variables","func":"//GLobals\nglobal.set(\"brightness\", 1.0);\nglobal.set(\"isAlerting\", false); \nglobal.set(\"forceMute\", false);   \nglobal.set(\"alertVolume\", 128);\nglobal.set(\"led\", \"115,76,104\"); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":180,"wires":[[]]},{"id":"fe797824.273988","type":"link out","z":"d76fcbe4.9ff708","name":"Alerting","links":["b1e9cde2.4a89"],"x":495,"y":500,"wires":[]},{"id":"b1e9cde2.4a89","type":"link in","z":"d76fcbe4.9ff708","name":"Alerting_OUT","links":["fe797824.273988"],"x":395,"y":1600,"wires":[["cb63430a.1c3f1"]]},{"id":"cb63430a.1c3f1","type":"function","z":"d76fcbe4.9ff708","name":"","func":"let notification = \"\";\nlet isAlerting = global.get(\"isAlerting\") || false;\nlet forceMute = global.get(\"forceMute\") || false;\nlet enableAlert = global.get(\"enableAlert\");\nif (forceMute || !enableAlert || isAlerting) return null; // If it is alerting => no need to continue \nfor (let key in msg.payload){\n    notification += `${key}: ${msg.payload[key]} is higher than expected!\\n`;\n}\nmsg.payload = {\n    title: \"Alert\",\n    msg: notification\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1600,"wires":[["703b8f7a.9416","cb2f8fbe.29ae4","ac051a31.9c4048","da418a24.ff62f8"]]},{"id":"5646945a.4208ec","type":"link out","z":"d76fcbe4.9ff708","name":"Overall","links":["a07ec87b.162488"],"x":495,"y":460,"wires":[]},{"id":"a07ec87b.162488","type":"link in","z":"d76fcbe4.9ff708","name":"","links":["5646945a.4208ec"],"x":855,"y":1020,"wires":[["73ea4b89.3852d4"]]},{"id":"2b93cdbc.2c4182","type":"telegrambot-switch","z":"d76fcbe4.9ff708","name":"Hỏi có muốn tắt alert","bot":"a0c9178c.7b6808","chatId":"1439212069","question":"Should I turn off the alert? ","answers":["Turn off alert"],"outputs":1,"autoAnswerCallback":true,"verticalAnswers":false,"timeoutValue":"","timeoutUnits":"","x":1080,"y":1640,"wires":[["18f1d494.3d871b"]]},{"id":"7ac90de2.cdd2a4","type":"mqtt out","z":"d76fcbe4.9ff708","name":"","topic":"136_118_269/IN/BUZZER","qos":"","retain":"","broker":"f77f832e.55642","x":1070,"y":1300,"wires":[]},{"id":"18f1d494.3d871b","type":"function","z":"d76fcbe4.9ff708","name":"Mute khi người dùng bấm yes","func":"global.set(\"forceMute\", true);\nreturn {topic: \"NO_ALERT\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":1580,"wires":[["a743b98b.4f6008","e7124e3e.ad6c8","64b5d07b.f2014"]]},{"id":"a743b98b.4f6008","type":"delay","z":"d76fcbe4.9ff708","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1580,"y":1620,"wires":[["b296521a.962b9"]]},{"id":"b296521a.962b9","type":"function","z":"d76fcbe4.9ff708","name":"Unmute","func":"global.set(\"forceMute\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":1620,"wires":[[]]},{"id":"cb2f8fbe.29ae4","type":"change","z":"d76fcbe4.9ff708","name":"Set global context TONE the buzzer","rules":[{"t":"set","p":"isAlerting","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"ALERT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1520,"wires":[["64b5d07b.f2014"]]},{"id":"1a514cc8.b709c3","type":"ui_template","z":"9e131ba6.762428","group":"5d2b04be.8ba95c","name":"","order":5,"width":"12","height":"7","format":"\n<style>\n    .setting{\n        display: flex;\n        flex-direction: column;\n    }\n    .setting h1 {\n        background: transparent !important;\n        color: #aaa;\n        font-size: 20px;\n    }\n    \n    .setting .btn-container { \n        display: flex;\n        flex-direction: row;\n    }\n    \n    .setting .alert-container, .setting .alert-container > div { \n        display: flex;\n        flex-direction: row;\n        align-items: center;\n        margin: 10px 0;\n    }\n    \n    .alert{\n        margin: 0 25px 0 0;\n    }\n    \n    .alert input[type=checkbox] {\n        width: 15px;\n        height: 15px;\n    }\n    \n    .alert .alert-container {\n        gap: 20px;\n        padding: 10px 20px;\n        position: relative;\n    }\n    \n    .alert .alert-container .overlay{\n        position: absolute;\n        width: 100%;\n        height: 100%;\n        left: 0;\n        top: 0;\n        background: black;\n        opacity: .3;\n        z-index: 999;\n        cursor: not-allowed;\n        margin: 0;\n    }\n    \n    .alert .alert-container h2{\n        background: transparent !important;\n        color: #aaa;\n        font-size: 18px;\n    }\n    \n    .alert .alert-container input {\n      border: 0;\n      border-bottom: 1px solid #ddd; \n      color: white;\n      background: transparent;\n      width: 30px;\n      font-weight: bold;\n      text-align: center;\n    }\n\n    .config-table {\n        font-size: 14px;\n    }\n\n    .config-table th{\n      min-width: 100px;\n      height: 40px;\n      text-align: left;\n      border: 1px solid #cdcdcd;\n      padding: 4px;\n    }\n    \n    .config-table td{\n      border: 1px solid #cdcdcd;\n      padding: 4px 8px;\n    }\n    \n    \n    .config-table td input{\n      border: 0;\n      border-bottom: 1px solid #ddd; \n      color: white;\n      background: transparent;\n      width: 30px;\n      font-weight: bold;\n      text-align: center;\n    }\n    \n    .config-table td input:focus{\n        outline: none;\n        border-bottom: 1px solid #fff;\n    }\n    \n    input[type=number]::-webkit-inner-spin-button, \n    input[type=number]::-webkit-outer-spin-button { \n        -webkit-appearance: none; \n        margin: 0; \n    }\n    \n    .config-table td:first-child{\n      text-align: left;\n    }\n    \n    \n    .config-table th input{ \n      border: 0;\n      padding: 0;\n      background: transparent;\n      width: 100%;\n      height: 35px;\n      cursor: pointer;\n    }\n</style>\n\n<form class=\"setting\"> \n  <h1>Thresholds & colors</h1>\n  <table class=\"config-table\"> \n    <thead>\n      <tr>\n        <th>Colors</th>\n        <th>\n          <input type=\"color\" class=\"color-picker\"/>\n        </th>\n        <th>\n         <input type=\"color\" class=\"color-picker\" />\n        </th>\n        <th>\n          <input type=\"color\" class=\"color-picker\"/>\n        </th>\n        <th>\n          <input type=\"color\" class=\"color-picker\" />\n        </th>\n        \n        <th>\n          <input type=\"color\" class=\"color-picker\"/>\n        </th>\n      </tr>\n    </thead>\n\n    <tbody>\n      <tr id=\"t\">\n        <th>🔥Temp</th>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\">°C</td>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\">°C</td>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\">°C</td>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\">°C</td>\n        <td style=\"text-align: center;\">><b>0</b>°C</td>\n      </tr>\n\n      <tr id=\"h\">\n        <th>💧Humidity</th>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\">%</td>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\">%</td>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\">%</td>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\">%</td>\n        <td style=\"text-align: center;\">><b>0</b>%</td>\n      </tr>\n\n      <tr id=\"chem\">\n        <th>☣Chemicals</th>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\">ppm</td>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\">ppm</td>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\">ppm</td>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\">ppm</td>\n        <td style=\"text-align: center;\">><b>0</b>ppm</td>\n      </tr>\n\n      <tr id=\"dust\">\n        <th>💨PM2.5</th>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\" >µg/m³</td>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\" >µg/m³</td>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\" >µg/m³</td>\n        <td>From <b>0</b> to <input type=\"number\" min=\"1\" class=\"cells\" >µg/m³</td>\n        <td style=\"text-align: center;\">><b>0</b>µg/m³</td>\n      </tr>\n    </tbody>\n  </table>\n  <div class=\"alert\">\n      <h1>Alert <input type=\"checkbox\"></h1>\n      <div class=\"alert-container\">\n          <h2>When: </h2>\n          <div id=\"hAlert\">\n              Humidity: ><input type=\"number\" data-index=\"0\" min=\"1\" class=\"cells\" > %\n          </div>\n          <div id=\"tAlert\">\n              Temp: ><input type=\"number\" data-index=\"1\" min=\"1\" class=\"cells\" >°C\n          </div>\n          <div id=\"chemAlert\">\n              Chemical: ><input type=\"number\" data-index=\"2\" min=\"1\" class=\"cells\" > ppm\n          </div>\n          <div id=\"dustAlert\">\n              Dust: ><input type=\"number\" data-index=\"3\" min=\"1\" class=\"cells\" > µg/m³\n          </div>\n          \n          <div class=\"overlay\"></div>\n      </div>\n  </div>\n  \n  <div class=\"btn-container\">\n      <button id=\"savebtn\" class=\"mybtn\" type=\"submit\" >\n        Save 💾\n      </button> \n      <button id=\"resetbtn\" class=\"mybtn\" >\n          Reset ↺\n      </button>\n  </div>\n  \n</form>\n\n\n<script>\n    function renderPayload(payload){\n        const ids = [\"t\", \"h\", \"chem\", \"dust\"];\n        ids.forEach(id => {\n          const inputElements = document.querySelectorAll(`#${id} td input`);\n          if (!payload[id]) return;\n          for (let i = 0; i <= inputElements.length; i++){\n            const prvValue = i == 0 ? 0 : payload[id][i - 1];\n            if (i != inputElements.length){ \n              inputElements[i].value = payload[id][i];\n              inputElements[i].setAttribute(\"min\", prvValue);\n            }\n            const minTag = document.querySelectorAll(`#${id} td b`)[i];\n            minTag.textContent = prvValue;\n          }\n        });\n        \n        document.querySelectorAll(\".color-picker\").forEach((element, i) => {\n            element.value = payload.color[i]; \n        })\n        \n        document.querySelectorAll(\".alert-container input\").forEach((element, i) => {\n            element.value = payload.alert[i]; \n        })\n        \n        document.querySelector(\".alert input[type=checkbox]\").checked = payload.enableAlert;\n        document.querySelector(\".alert .alert-container .overlay\").style.display = payload.enableAlert ? \"none\" : \"block\";\n        \n    }\n\n    (function(scope) {\n        let updatedData = {};\n        // $watch fires each time the node is triggered in the flow\n        scope.$watch('msg', function(msg) { \n                let defaultPayload = {\n                    t: [20,40,60,80],\n                    h: [50,70,80,90],\n                    chem: [200,400,600,800],\n                    dust:  [200,400,600,800],\n                    color: [\"#9ede73\",\"#f7ea00\",\"#fdca40\",\"#fb3640\",\"#810000\"],\n                    alert: [90,40,500,500],\n                    enableAlert: 1\n                }\n            if (msg.payload) {\n                const payload = {...msg.payload}; \n                updatedData = {...payload};\n                let ids = [\"t\", \"h\", \"chem\", \"dust\"];\n        \n                //Render data first\n                renderPayload(payload);\n                \n                //Call events\n                ids.forEach(id => {\n                  let row = document.getElementById(id);\n                  let tds = row.querySelectorAll(\"td\");\n                  for (let i = 0; i < tds.length; i++){\n                    const inputElements = document.querySelectorAll(`#${id} td input`);\n                    const curInput = inputElements[i];\n                    const nextInput = inputElements[i + 1];\n                    const nextMinTag = document.querySelectorAll(`#${id} td b`)[i+1];\n                     \n                    if (!curInput) console.log(\"NULL \", i, tds.length, updatedData[id][i]);\n                    if (i != tds.length - 1) curInput.onchange =  (ev) => {\n                      let data = parseInt(ev.target.value); \n                      nextInput.setAttribute(\"min\", data + 1);\n                      nextMinTag.textContent = data;\n                      updatedData[id][i] = data;\n                    };\n                  }\n                });\n                 \n                document.getElementById(\"savebtn\").onclick = function(ev) {\n                    //Send msg to save\n                    scope.send({payload: updatedData, topic: \"save\"});\n                }\n                \n                document.getElementById(\"resetbtn\").onclick = function(ev) {\n                    var result = confirm(\"Do you want to reset? All your unsaved changes can be completely removed?\")\n                    if (result){ \n                        scope.send({payload: \"\", topic: \"reset\"});\n                        renderPayload(defaultPayload);\n                    }\n                }\n                document.querySelectorAll(\".color-picker\").forEach((element, i) => {\n                    element.onchange = function(ev) {\n                        updatedData.color[i] = ev.target.value;\n                    }\n                })\n                \n                document.querySelectorAll(\".alert-container input\").forEach((element, i) => {\n                    element.onchange = function(ev) {\n                        updatedData.alert[i] = parseInt(ev.target.value);\n                    }\n                })\n                \n                document.querySelector(\".alert input[type=checkbox]\").onchange = function(ev) {\n                    let checked = ev.target.checked;\n                    \n                    updatedData.enableAlert = checked;\n                    document.querySelector(\".alert .alert-container .overlay\").style.display = checked ? \"none\" : \"block\";\n                }\n        \n            }\n        });\n        \n        \n    })(scope);\n    \n</script>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":360,"y":180,"wires":[["bee31f0b.29382"]]},{"id":"32d3f1c8.27e00e","type":"inject","z":"9e131ba6.762428","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["fa4033a5.8af5a"]]},{"id":"fa4033a5.8af5a","type":"function","z":"9e131ba6.762428","name":"","func":"let payload ={\n          t: global.get(\"temp\") || [20,40,60,80],\n          h: global.get(\"humidity\") || [50,70,80,90],\n          chem: global.get(\"chemical\") || [200,400,600,800],\n          dust: global.get(\"pm\") ||  [200,400,600,800],\n          color: global.get(\"color\") || [\"#9ede73\",\"#f7ea00\",\"#fdca40\",\"#fb3640\",\"#810000\"],\n          alert: global.get(\"alert\") || [90,40,500,500],\n          enableAlert: global.get(\"enableAlert\") == undefined ? 1 : global.get(\"enableAlert\")\n}\nreturn {payload: payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":100,"wires":[["1a514cc8.b709c3","3dbd65eb.1fca8a"]]},{"id":"3dbd65eb.1fca8a","type":"debug","z":"9e131ba6.762428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":100,"wires":[]},{"id":"87f2f9f.fbb5108","type":"ui_ui_control","z":"9e131ba6.762428","name":"Change tab event","events":"change","x":130,"y":40,"wires":[["fa4033a5.8af5a","ff27d9bf.c9f958"]]},{"id":"a5b74921.447c18","type":"ui_text","z":"d76fcbe4.9ff708","group":"b8e6d433.c61658","order":3,"width":0,"height":0,"name":"Sound","label":"","format":"Alert","layout":"row-left","x":510,"y":1340,"wires":[]},{"id":"9e204668.32cbd8","type":"ui_slider","z":"d76fcbe4.9ff708","name":"","label":"Volume","tooltip":"Brightness","group":"b8e6d433.c61658","order":4,"width":"4","height":"1","passthru":false,"outs":"end","topic":"payload","min":0,"max":"128","step":"8","x":500,"y":1200,"wires":[["947ab6e0.bd1be8"]]},{"id":"bee31f0b.29382","type":"function","z":"9e131ba6.762428","name":"Store to context Data","func":"let {topic, payload} = msg; \nlet defaultPayload = {\n    t: [20,40,60,80],\n    h: [50,70,80,90],\n    chem: [200,400,600,800],\n    dust:  [200,400,600,800],\n    color: [\"#9ede73\",\"#f7ea00\",\"#fdca40\",\"#fb3640\",\"#810000\"],\n    alert: [90,40,500,500],\n    enableAlert: 1\n}\nif (topic === \"save\"){\n    global.set(\"humidity\", payload.h);\n    global.set(\"temp\", payload.t);\n    global.set(\"pm\", payload.dust);\n    global.set(\"chemical\", payload.chem);\n    global.set(\"color\", payload.color);\n    global.set(\"alert\", payload.alert);\n    global.set(\"enableAlert\", payload.enableAlert);\n    return [{msg: \"Update successfully\"},{payload: payload}];\n}\nelse {\n    global.set(\"humidity\", defaultPayload.h);\n    global.set(\"temp\", defaultPayload.t);\n    global.set(\"pm\", defaultPayload.dust);\n    global.set(\"chemical\", defaultPayload.chem);\n    global.set(\"color\", defaultPayload.color);\n    global.set(\"alert\", defaultPayload.alert);\n    global.set(\"enableAlert\", defaultPayload.enableAlert);\n    return [{msg: \"Reset to default successfully\"},{payload: defaultPayload}];\n}\nreturn [{msg: \"Error!\"}, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":260,"wires":[["c3464abe.86f4c8"],["ecda3ce0.e3887"]]},{"id":"ff27d9bf.c9f958","type":"debug","z":"9e131ba6.762428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":40,"wires":[]},{"id":"63959a45.3f62b4","type":"file","z":"9e131ba6.762428","name":"Export to file","filename":"./Config.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1070,"y":260,"wires":[[]]},{"id":"ecda3ce0.e3887","type":"function","z":"9e131ba6.762428","name":"Export to file","func":"let {t, h, chem, dust, color, alert, enableAlert} = msg.payload; \nreturn {\n    payload: `temp-${t.join(',')}` +\n        \"\\nhumidity-\"+ h.join(\",\") + \n        \"\\nchemical-\"+ chem.join(\",\") +\n        \"\\npm-\"+ dust.join(\",\") +\n        \"\\ncolor-\"+ color.join(\",\") +\n        \"\\nalert-\"+ alert.join(\",\") +\n        \"\\nenableAlert-\"+ ( enableAlert ? \"1\" : \"0\")\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":260,"wires":[["70b92600.7cd05c","63959a45.3f62b4"]]},{"id":"70b92600.7cd05c","type":"debug","z":"9e131ba6.762428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":320,"wires":[]},{"id":"c3464abe.86f4c8","type":"ui_template","z":"9e131ba6.762428","group":"5d2b04be.8ba95c","name":"Alert to notify user","order":1,"width":0,"height":0,"format":"<script>\n    (function(scope) {\n        let updatedData = {};\n        // $watch fires each time the node is triggered in the flow\n        scope.$watch('msg', function(msg) { \n            if (msg.msg) {\n                alert(msg.msg);\n            }\n        });\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":870,"y":220,"wires":[[]]},{"id":"2714452a.afd2fa","type":"function","z":"d76fcbe4.9ff708","name":"Get Frequency and alert user ","func":"if (msg.topic === \"ALERT\")\n    return {payload: global.get(\"alertVolume\").toFixed(2)};\nelse return {payload: \"0.00\"};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1300,"wires":[["7ac90de2.cdd2a4"]]},{"id":"947ab6e0.bd1be8","type":"function","z":"d76fcbe4.9ff708","name":"Save and then ring alert","func":"global.set(\"alertVolume\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1200,"wires":[[]]},{"id":"f1155285.06dc6","type":"ui_template","z":"d76fcbe4.9ff708","group":"b8e6d433.c61658","name":"","order":5,"width":0,"height":0,"format":"<button id=\"testbtn\" class=\"mybtn\" >🎵 HOLD TO TEST 🎵</button> \n<script>\n    (function(scope) {\n        document.getElementById(\"testbtn\").onmousedown = function(ev){\n            scope.send({topic: \"ALERT\"});\n        }\n        \n        document.getElementById(\"testbtn\").onmouseup = function(ev){\n            scope.send({topic: \"NO_ALERT\"});\n        }\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":520,"y":1300,"wires":[["2714452a.afd2fa"]]},{"id":"1faaf4f6.6a993b","type":"inject","z":"d76fcbe4.9ff708","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"128","payloadType":"num","x":330,"y":1200,"wires":[["9e204668.32cbd8"]]},{"id":"78779f2e.18246","type":"comment","z":"d76fcbe4.9ff708","name":"Đọc file và lấy các thông số cấu hình","info":"","x":140,"y":160,"wires":[]},{"id":"83cead3f.94dfe","type":"comment","z":"d76fcbe4.9ff708","name":"Tạo file (sử dụng để debug)","info":"","x":120,"y":40,"wires":[]},{"id":"9bcb36f1.0ba1f8","type":"inject","z":"d76fcbe4.9ff708","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":280,"wires":[["a1c92dd8.d411a","c50a9c14.697eb","b616fba4.9e83d8"]]},{"id":"1ac8ea06.8032e6","type":"comment","z":"d76fcbe4.9ff708","name":"Các cấu hình css cho toàn bộ app","info":"","x":140,"y":280,"wires":[]},{"id":"e8a556d3.64efe8","type":"comment","z":"d76fcbe4.9ff708","name":"Nhận thông báo gửi lên từ ESP32","info":"ESP32 gửi lên có cấu hình như sau:\n< Độ ẩm >|< Nhiệt độ >|< Đo hóa chất trong kk > | < Chỉ số bụi mịn >\n","x":180,"y":720,"wires":[]},{"id":"9645aec8.ba907","type":"comment","z":"d76fcbe4.9ff708","name":"Tính đánh giá chung của không khí","info":"Output 1: Đánh giá không khí (và 1 số thông số khác để tiện làm css, js thông thường)\nCách thức đánh giá:\n    - Good: tất cả các thông số ở ngưỡng thấp nhất\n    - Satisfactory: 1 thông số vượt ngưỡng thứ 2\n    - Moderate: 1 thông số vượt ngưỡng thứ 3\n    - Harmful: 1 thông số vượt ngưỡng thứ 4\n    - Very harmful: thông số vượt ngưỡng cao nhất => Nguy hiểm\n\nOUTPUT 2: Màu của Đèn led hiển thị ở máy\nMàu ở máy được lấy từ context của global\n\nOUTPUT 3: Nếu như 1 trong các thông số vượt ngưỡng đã cài đặt trước (lấy từ context global và có thể chỉnh ở phần setting)\n\n","x":280,"y":420,"wires":[]},{"id":"3143c0a0.14cbe","type":"comment","z":"d76fcbe4.9ff708","name":"Tách ra làm 4 output  ","info":"","x":370,"y":620,"wires":[]},{"id":"28345f1f.3c912","type":"comment","z":"d76fcbe4.9ff708","name":"Về mặt html và css, các template này giống nhau","info":"","x":1100,"y":400,"wires":[]},{"id":"e7e0b1fd.4664e","type":"comment","z":"d76fcbe4.9ff708","name":"Khi nhận tín hiệu alert từ node trên, gọi hàm xuất tín hiệu","info":"","x":210,"y":1560,"wires":[]},{"id":"5341d339.d7723c","type":"change","z":"d76fcbe4.9ff708","name":"Update global context & Stop alerting","rules":[{"t":"set","p":"isAlerting","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"NO_ALERT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1440,"wires":[["64b5d07b.f2014"]]},{"id":"ac051a31.9c4048","type":"delay","z":"d76fcbe4.9ff708","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1440,"wires":[["5341d339.d7723c"]]},{"id":"67bc8d32.88bad4","type":"comment","z":"d76fcbe4.9ff708","name":"Chỉ thông báo 1 lần mỗi 20s","info":"","x":780,"y":1400,"wires":[]},{"id":"4f5b8b0a.759804","type":"comment","z":"d76fcbe4.9ff708","name":"Kiểm tra điều kiện để xuất thông báo","info":"","x":420,"y":1640,"wires":[]},{"id":"8776b75f.9bd348","type":"comment","z":"d76fcbe4.9ff708","name":"20s sau un mute","info":"","x":1760,"y":1580,"wires":[]},{"id":"da418a24.ff62f8","type":"function","z":"d76fcbe4.9ff708","name":"","func":"return {payload: {\n    text: \"ALERT!! \" + msg.payload.msg\n}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1700,"wires":[["69642069.3d035"]]},{"id":"69642069.3d035","type":"telegrambot-payload","z":"d76fcbe4.9ff708","name":"","bot":"a0c9178c.7b6808","chatId":"1439212069","sendMethod":"sendMessage","payload":"","x":830,"y":1640,"wires":[["31a06705.d98918"]]},{"id":"31a06705.d98918","type":"delay","z":"d76fcbe4.9ff708","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":1700,"wires":[["2b93cdbc.2c4182"]]},{"id":"68bec061.8c98","type":"comment","z":"d76fcbe4.9ff708","name":"Quản lý âm lượng của alert","info":"","x":310,"y":1300,"wires":[]},{"id":"64b5d07b.f2014","type":"link out","z":"d76fcbe4.9ff708","name":"Send signal to buzzer","links":["9ceddd22.30a86"],"x":1255,"y":1500,"wires":[]},{"id":"9ceddd22.30a86","type":"link in","z":"d76fcbe4.9ff708","name":"","links":["64b5d07b.f2014"],"x":555,"y":1260,"wires":[["2714452a.afd2fa"]]},{"id":"e7124e3e.ad6c8","type":"telegrambot-notify","z":"d76fcbe4.9ff708","name":"","bot":"a0c9178c.7b6808","chatId":"1439212069","message":"Disable Alert !","parseMode":"","x":1600,"y":1540,"wires":[]},{"id":"f9136505.e08448","type":"mqtt in","z":"d76fcbe4.9ff708","name":"PING ","topic":"136_118_269/OUT/PING","qos":"2","datatype":"auto","broker":"f77f832e.55642","x":310,"y":1800,"wires":[["a638fd70.cd79e"]]},{"id":"a638fd70.cd79e","type":"mqtt out","z":"d76fcbe4.9ff708","name":"PING BACK","topic":"136_118_269/IN/PING","qos":"","retain":"","broker":"f77f832e.55642","x":460,"y":1800,"wires":[]},{"id":"79108b2.6dede74","type":"telegrambot-command","z":"d76fcbe4.9ff708","name":"/data Lấy thông tin sensor","bot":"a0c9178c.7b6808","command":"/data","commandType":"str","commandCase":false,"x":310,"y":1900,"wires":[["20176704.5d6cb8"]]},{"id":"20176704.5d6cb8","type":"function","z":"d76fcbe4.9ff708","name":"","func":"const {h, t, chem, dust} = flow.get(\"data\");\nlet chatText = `Sensor Data: \\nHumidity: ${h}%\\nTemperature: ${t}°C\\nChemical: ${chem}ppm\\nDust (PM2.5): ${dust}µg/m³.`\nreturn {payload: {text: chatText}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1900,"wires":[["faa873ba.61771"]]},{"id":"faa873ba.61771","type":"telegrambot-payload","z":"d76fcbe4.9ff708","name":"","bot":"a0c9178c.7b6808","chatId":"1439212069","sendMethod":"sendMessage","payload":"","x":750,"y":1900,"wires":[[]]},{"id":"e1fd0c76.a2ee4","type":"telegrambot-command","z":"d76fcbe4.9ff708","name":"/brightness Chỉnh độ sáng đèn","bot":"a0c9178c.7b6808","command":"(\\/brightness [0-9.]+)","commandType":"re","commandCase":false,"x":320,"y":1960,"wires":[["60f3e3b.ae8981c"]]},{"id":"60f3e3b.ae8981c","type":"function","z":"d76fcbe4.9ff708","name":"","func":"let value = parseFloat(msg.payload.split(\"/brightness \")[1]); \nlet chatText = \"\"; \nif (value >0 && value > 1) {\n    chatText = `${value} must < 1 and > 0! Command was canceled`;\n    value = global.get('brightness');\n}\nelse {\n    global.set(\"brightness\", value);\n    chatText = \"Successfully setBrightness!\";\n}\nreturn [{payload: {text: chatText}}, {payload: value}];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":540,"y":1960,"wires":[["a970b29d.5c75a"],["d22b9b43.56c7a8"]]},{"id":"a970b29d.5c75a","type":"telegrambot-payload","z":"d76fcbe4.9ff708","name":"","bot":"a0c9178c.7b6808","chatId":"1439212069","sendMethod":"sendMessage","payload":"","x":750,"y":1960,"wires":[[]]},{"id":"f928feac.b5223","type":"link in","z":"d76fcbe4.9ff708","name":"brightnessIn","links":["d22b9b43.56c7a8"],"x":455,"y":980,"wires":[["e4467f8d.71515","53057ba1.b60cf4"]]},{"id":"8a9725b6.13ebf8","type":"link in","z":"d76fcbe4.9ff708","name":"volumeIn","links":["e83cb7ed.eaa598"],"x":415,"y":1160,"wires":[["947ab6e0.bd1be8","9e204668.32cbd8"]]},{"id":"d22b9b43.56c7a8","type":"link out","z":"d76fcbe4.9ff708","name":"BrightnessOut","links":["f928feac.b5223"],"x":675,"y":2020,"wires":[]},{"id":"348f3ed9.32c942","type":"telegrambot-command","z":"d76fcbe4.9ff708","name":"/volume Chỉnh âm lượng alert","bot":"a0c9178c.7b6808","command":"(\\/volume [0-9]+)","commandType":"re","commandCase":false,"x":320,"y":2060,"wires":[["186ed5fe.7b979a"]]},{"id":"186ed5fe.7b979a","type":"function","z":"d76fcbe4.9ff708","name":"","func":"let value = parseFloat(msg.payload.split(\"/volume \")[1]); \nlet chatText = \"\"; \nif (value > 128 || value < 0) {\n    chatText = `${value} must < 128 and > 0! Command was canceled`;\n    value = global.get('alertVolume');\n}\nelse {\n    global.set(\"alertVolume\", value);\n    chatText = \"Successfully set Alert Volume!\";\n}\nreturn [{payload: {text: chatText}}, {payload: value}];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":540,"y":2060,"wires":[["6bb1c55.af06e3c"],["e83cb7ed.eaa598"]]},{"id":"6bb1c55.af06e3c","type":"telegrambot-payload","z":"d76fcbe4.9ff708","name":"","bot":"a0c9178c.7b6808","chatId":"1439212069","sendMethod":"sendMessage","payload":"","x":750,"y":2060,"wires":[[]]},{"id":"e83cb7ed.eaa598","type":"link out","z":"d76fcbe4.9ff708","name":"BrightnessOut","links":["8a9725b6.13ebf8"],"x":675,"y":2120,"wires":[]},{"id":"f4daea34.c592f8","type":"telegrambot-command","z":"d76fcbe4.9ff708","name":"/mute Mute alert","bot":"a0c9178c.7b6808","command":"/mute","commandType":"str","commandCase":false,"x":280,"y":2180,"wires":[["7728acd8.26d5d4"]]},{"id":"7728acd8.26d5d4","type":"function","z":"d76fcbe4.9ff708","name":"","func":"global.set(\"enableAlert\", false);\nreturn {payload: {text: \"Alert muted!\"}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":2180,"wires":[["ead09ad2.5a6b08"]]},{"id":"ead09ad2.5a6b08","type":"telegrambot-payload","z":"d76fcbe4.9ff708","name":"","bot":"a0c9178c.7b6808","chatId":"1439212069","sendMethod":"sendMessage","payload":"","x":750,"y":2180,"wires":[[]]},{"id":"71c4b9d9.07bd78","type":"telegrambot-command","z":"d76fcbe4.9ff708","name":"/unmute Unmute alert","bot":"a0c9178c.7b6808","command":"/unmute","commandType":"str","commandCase":false,"x":300,"y":2220,"wires":[["a0b48277.a1255"]]},{"id":"a0b48277.a1255","type":"function","z":"d76fcbe4.9ff708","name":"","func":"global.set(\"enableAlert\", true);\nreturn {payload: {text: \"Alert unmuted!\"}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":2220,"wires":[["760fa14f.89d54"]]},{"id":"760fa14f.89d54","type":"telegrambot-payload","z":"d76fcbe4.9ff708","name":"","bot":"a0c9178c.7b6808","chatId":"1439212069","sendMethod":"sendMessage","payload":"","x":750,"y":2220,"wires":[[]]},{"id":"80d97cad.43902","type":"telegrambot-command","z":"d76fcbe4.9ff708","name":"/help List all command","bot":"a0c9178c.7b6808","command":"/help","commandType":"str","commandCase":false,"x":300,"y":2280,"wires":[["112a25d0.e7dc9a"]]},{"id":"112a25d0.e7dc9a","type":"function","z":"d76fcbe4.9ff708","name":"","func":"return {payload: {text: `   /help:          \\tList all commands\\n\n    /mute:          \\tTurn off alerting\\n\n    /unmute:        \\tTurn on alerting\\n\n    /brightness X:  \\tConfig the brightness of LED\\n\n    /volume X:      \\tConfig the volume of Alert.\\n\n    /data:          \\tList sensor values.\n`}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":2280,"wires":[["46b052c.2bbe5ac"]]},{"id":"46b052c.2bbe5ac","type":"telegrambot-payload","z":"d76fcbe4.9ff708","name":"","bot":"a0c9178c.7b6808","chatId":"1439212069","sendMethod":"sendMessage","payload":"","x":750,"y":2280,"wires":[[]]},{"id":"243c8c63.d70fb4","type":"comment","z":"d76fcbe4.9ff708","name":"Lưu ý! README","info":"Muốn gửi ai thì truyền id của người đó vào mục Chat ID. Phải cấu hình quyền của ID đó trước mới gửi tin telegram được!\n\nCách setting quyền \nẤn vào nút edit của con bot (nút bút chì):\n\n#TOKEN của con bot (TokenId): 1759365940:AAFcgCxIdgIItv111TWUrO3O4nR466Da5PA\n\n#ChatIDs: chatId Người 1, chat Id người 2, ... \n\n#users: username1, username2","x":750,"y":1820,"wires":[]},{"id":"d7780b46.8f1708","type":"debug","z":"d76fcbe4.9ff708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":480,"wires":[]},{"id":"8280d300.eb777","type":"debug","z":"d76fcbe4.9ff708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":580,"wires":[]}]
